@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap');

/* geral */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 100%;
    max-width: 768px;
    padding: 0 5%;
    margin: 0 auto;
}
.content {
    padding: 0 5%;
}
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.w-100 {
    width: 100%;
}
.position-relative {
    position: relative;
}
.w-20 {
    width: 20vw;
}
.btn-block {
    width: 100%;
    text-align: center;
    display: block;
}
.btn-orange {
    background-color: #F08225;
    color: #ffffff;
}
.border {
    border: 1px solid black;
}

/* align */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

/* fonts */
.fs-10 {
    font-size: 10px;
}
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-30 {
    font-size: 30px;
}

/* font-weight */
.fw-100 {
    font-weight: 100;
}
.fw-200 {
    font-weight: 200;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}

/* colors */
.c-white {
    color: #ffffff;
}
.c-green {
    color: #1F4F3A;
}
.c-orange {
    color: #F08225;
}

/* Border-color */
.bc-white {
    border-color: #ffffff;
}
.bc-green {
    border-color: #1F4F3A;
}
.bc-orange {
    /* border: 1px solid #F08225; */
    border-color: #F08225;
}

/* background */
.bg-white {
    background-color: #ffffff;
}
.bg-green {
    background-color: #1F4F3A;
}
.bg-orange {
    background-color: #F08225;
}

/* paddings */
.pt-3 {
    padding-top: 16px;
}
.pb-3 {
    padding-bottom: 16px;
}

/* margin */
.my-3 {
    margin: 16px 0;
}
.my-4 {
    margin: 32px 0;
}
.mb-2 {
    margin-bottom: 8px;
}
.mb-4 {
    margin-bottom: 32px;
}
.mt-2 {
    margin-top: 8px;
}
.mt-3 {
    margin-top: 16px;
}
.mb--1 {
    margin-bottom: -4px;
}
.mb-5 {
    margin-bottom: 32px;
}

/* section-1 */
.section-1 .container {
    padding: 0 !important;
}
.banner-desktop {
    display: none;
}
.banner-mobile {
    display: block;
    width: 100%;
}
@media (min-width: 768px) {
    .banner-desktop {
        display: block;
        width: 100%;
    }
    .banner-mobile {
        display: none;
    }
}
.bg-moranga {
    width: 100%;
    height: 850px;
    background-image: url(../images/moranga.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: contain;
}
.position-btn {
    position: absolute;
    top: 69vw;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: calc(768px - 10%);
}
.position-btn-1 {
    display: flex;
    justify-content: center;
}
.img-btn {
    width: 100%;
    max-width: 350px;
}
@media (min-width: 768px) {
    .position-btn {
        position: absolute;
        top: 62%;
        left: 12vw;
        transform: unset;
        width: 35vw;
        max-width: unset;
    }
}
.position-icon {
    position: absolute;
    display: flex;
    top: -36px;
    left: 0;
    justify-content: center;
}
.btn {
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
}

/* section-2 */
.section-2 {
    background-color: rgba(31, 79, 58, 1);
    padding: 50px 0;
}
.w-75 {
    width: 75%;
}
.w-50 {
    width: 50%;
}
.w-25 {
    width: 25%;
}
.box-1 {
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
    display: flex;
    align-items: center;
}
.box-2 {
    font-size: 12px;
    font-weight: 300;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* section-3 */
.section-3 {
    background-color: #ffffff;
    padding: 50px 0;
}

/* section-4 */
.section-4 {
    background-color: rgba(31, 79, 58, 1);
    padding: 50px 0;
}
